<a href="/users/logout" class="btn btn-secondary float-right">Logout</a>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<br />
<p class="text-center">INTRODUCING:</p>
<h2 class="text-center">THE BOX III</h2>
<h3 class="text-center">Gavin Belson Signature Edition.</h3>
<img src="images/photo-box.png" />

<img class="logo" src="images/logo-lg.png" /> <br />
<p class="text-center">MAKING THE WORLD A BETTER PLACE.</p>
